{
  "presets": [
    "latest",
    "stage-0"
  ],
  "plugins": [
    ["resolver", { "resolveDirs": ["server/database"] }]
  ],
  "env": {
    "production": {
      "presets": [
        "stage-0",
        ["latest", {"modules": false}]
      ]
    }
  }
}
